body{
    background-color: white;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.bg-title{
    padding: 10px 0;
    background-image: -moz-linear-gradient( 0deg, rgb(195,222,202) 0%, rgb(223,242,228) 50%, rgb(188,223,214) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(195,222,202) 0%, rgb(223,242,228) 50%, rgb(188,223,214) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(195,222,202) 0%, rgb(223,242,228) 50%, rgb(188,223,214) 100%);
    padding: 30px 0;
}

.title-wrapper > h3.title{
    color: #747474;
    position: relative;
    display: inline-block;
}

.title-wrapper > h3.title:before{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 35px;
    content: '';
    left: 0;
    right: 0;
    background-color: #747474;
    height: 1px;
}

.title-wrapper > p.desc{
    margin-top: 5px;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 0;
}

.wrapper-offert-title{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.wrapper-offert-title > .title-content{
    background-color: rgba(238,237,234, 0.75);
    text-align:center;
    padding: 20px 0;
    margin-left: -80px;
    margin-bottom: -20px;
    transition: all 0.25s ease-in-out;
}

.wrapper-offert:hover .title-content{
    background-color: rgba(223, 242, 228, 0.95);
}

.wrapper-offert .img-offert{
    transition: all 0.25s ease-in-out;
}

.wrapper-offert:hover .img-offert{
    transform: scale(1.2);
}

.line-custom{
    width: 100%;
    height: 1px;
    background-color: #737373;
}

.wrapper-map{
    width: 95%;
    position: relative;
}

#map{
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 3;
}

.map-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #dff2e4;
    top: 20px;
    left: 20px;
    z-index: 1;
}
a.nav-link{
    transition: all 0.2s ease-in-out;
}

a.nav-link:hover{
    color: #5aaf9c !important;
}

a.nav-link.active{
    color: #5aaf9c !important;
    font-weight: 800;
}

/*Post page*/

.card-post {
    box-shadow: 0 1px 3px rgba(223,242,228,0.8), 0 1px 2px rgba(223,242,228,0.9);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 15px 20px;
}

.card-post:hover {
    box-shadow: 0 14px 28px rgba(223,242,228,0.8), 0 10px 10px rgba(223,242,228,0.95);
}

/*About us page*/

.wrapper-person{
    padding: 40px 80px;
    background-color: #f4f3f1;
    color: #737373
}

.wrapper-person > .person-name{
    text-align: center;
    font-size: 1.0rem;
    font-weight: 600;
}

.wrapper-person > .person-desc{
    text-align: justify

}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

div.wrapper-category-block{
    height: 205px;
    width: 80%;
    overflow: hidden;
}

div.wrapper-img{
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.offert-link:hover .wrapper-img {
    transform: scale(1.1);
}

div.wrapper-category-block .wrapper-link{
    position: absolute;
    width: 50%;
    height: 60px;
    background-color: rgba(238, 237, 234, 0.85);
    bottom: 10px;
    text-align: center;
    line-height: 60px;
    font-weight: 600;
    color: #646464;
    right: 0;
    transition: all 0.5s ease-in-out;
}

.offert-link:hover .wrapper-link {
    background-color: rgba(223, 242, 228, 0.85);
}

div.wrapper-category-block a{
    text-decoration: none;
    color: #646464;
}

div.single-img{
    position: relative;
    height: 100%;
    width: 100%;
}



div.single-img .blur-wrapper > div > p{
    margin-bottom: 0;
    color: #646464;
    font-weight: 600;
    font-size: 18px;
}

div.single-img .blur-wrapper > div > a{
    text-decoration: none;
    font-size: 14px;
}

div.blur-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(238, 237, 234, 0.85);
    opacity:0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.single-img:hover .blur-wrapper {
    opacity: 1;
}

div.single-img:hover > img {
}

