body{
    background-color: white;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.bg-title{
    padding: 10px 0;
    background-image: -moz-linear-gradient( 0deg, rgb(195,222,202) 0%, rgb(223,242,228) 50%, rgb(188,223,214) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(195,222,202) 0%, rgb(223,242,228) 50%, rgb(188,223,214) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(195,222,202) 0%, rgb(223,242,228) 50%, rgb(188,223,214) 100%);
    padding: 30px 0;
}

.title-wrapper > h3.title{
    color: #747474;
    position: relative;
    display: inline-block;
}

.title-wrapper > h3.title:before{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 35px;
    content: '';
    left: 0;
    right: 0;
    background-color: #747474;
    height: 1px;
}

.title-wrapper > p.desc{
    margin-top: 5px;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 0;
}



.line-custom{
    width: 100%;
    height: 1px;
    background-color: #737373;
}

.wrapper-map{
    width: 95%;
    position: relative;
}

#map{
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 3;
}


.map-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #dff2e4;
    top: 20px;
    left: 20px;
    z-index: 1;
}
a.nav-link{
    transition: all 0.2s ease-in-out;
}

a.nav-link:hover{
    color: #5aaf9c !important;
}

a.nav-link.active{
    color: #5aaf9c !important;
    font-weight: 800;
}



/*About us page*/

.wrapper-person{
    padding: 40px 80px;
    background-color: #f4f3f1;
    color: #737373
}

.wrapper-person > .person-name{
    text-align: center;
    font-size: 1.0rem;
    font-weight: 600;
}

.wrapper-person > .person-desc{
    text-align: justify

}

/* END About US */


div.single-img{
    position: relative;
    height: 100%;
    width: 100%;
}



div.single-img .blur-wrapper > div > p{
    margin-bottom: 0;
    color: #646464;
    font-weight: 600;
    font-size: 18px;
}

div.single-img .blur-wrapper > div > a{
    text-decoration: none;
    font-size: 14px;
}

div.blur-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(238, 237, 234, 0.85);
    opacity:0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.single-img:hover .blur-wrapper {
    opacity: 1;
}

div.single-img:hover > img {
}

